<a href={{href}} class="btn" style="display: inline-flex; background-color: #4C934C">
  <img src="/boosable-icon.svg" height="30" style="margin: -4px 0 -4px  -4px; display: inline-block;"/>
  <div>{{> @partial-block }}</div>
</a>
