
<a href={{href}} class="btn" style="display: inline-flex; background-color: #f3faec; border: 1px solid #89CB43; ">
  <img src="/boosable-icon.svg" style="height: 30px; width: 30px; margin: -4px 5px -4px  -4px; display: inline-block;"/>
  <div>{{> @partial-block }}</div>
</a>
