<a href={{href}} class="btn btn-primary" style="display: inline-flex">
  <img src="/datapal-watermark.png" height="20" style="opacity: 0.75; margin: 2px 10px 0 0; "/>
  <div>{{> @partial-block }}</div>
</a>
