<div style="
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
">
  {{#each products}}
    {{#> productCard product=this }}
      <form action="/cart/add/{{id}}" method="get">
        <button type="submit" class="btn btn-primary">ADD TO CART</button>
      </form>
    {{/ productCard }}
  {{/each}}
</div>
