<div class="container px-4 text-center" style="">
  <h1 class="mt-4">Your Cart</h1>
  {{#each productsInCart}}
    {{> productCard product=this }}
  {{/each}}



  <div>TODO [address request or show]</div>
</div>
