<div class="container px-4 text-center" style="">
  <h1 class="mt-4">Your Cart</h1>
  {{#each productsInCart}}
    {{> productCard product=this }}
  {{/each}}


  <div>
    {{#if shippingAddress}}
      <pre><code>{{toJSON shippingAddress}}</code></pre>
    {{else}}
      {{#> datapalButton href="/datapal/select-shipping-address" }}
        Provide a shipping address
      {{/ datapalButton }}

    {{/if}}
  </div>
</div>
