<div class="container px-4 text-center" style="">
  <h1 class="mt-4">Welcome to Wine About It!</h1>
  <p class="my-4">
    Wine about it is a demo app for <a href="{{process.env.DATAPAL_ORIGIN}}">Data Pal</a>. This app
    is intended to show how web apps can use data owned and controlled by the user via Data Pal.
  </p>
  <p class="my-4">
    When you signup for Wine About It your account data is stored in your Data Pal data store.
  </p>

  {{> productsGrid }}

</div>
