
<div class="container px-4" style="">
  <div class="boosable-banner" style="margin-top: 16px"></div>
  <div class="text-center" style="max-width: 600px; margin: 0 auto;">
    <h1 class="mt-4">Can you boose?</h1>
    <h2 class="mt-4">Boosable can proove it!</h2>

    <p class="my-4">
      Boosable it is a demo app for <a href="{{process.env.DATAPAL_ORIGIN}}">Data Pal</a>. This app
      is intended to show how web apps can use data owned and controlled by the user via Data Pal.
    </p>

    <p class="my-4">
      When you signup for Boosable your account data is stored in your Data Pal data store.
    </p>
  </div>

  {{> loginStep }}
  {{> uploadProofStep }}
  {{> createProofStep }}
</div>
