body {
  background-color: var(--bs-gray-300);
}

body > div:first-child{
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body > div > nav {

}

body > div > main {
  flex-grow: 1;
  background-color: white;
  padding: 0 calc(var(--bs-gutter-x) * .5) 50px;
}
